<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>
      各位<br />
      <br />
      収容作業の確認をお願いいたします<br />
      <br />
      <%= @url %><br />
      <br />
      作成者: <%= @owner %>
    </p>
  </body>
</html>